html,
body {
    margin: 0px;
    padding: 0px;
    background-color: #c47766;
}

body>*:first-child {
    margin-top: 0 !important;
}

#nav {
    font-size: 60px;
    font-weight: 750;
    height: 69px;
    line-height: 40px;
    letter-spacing: -5px;
    margin-top: 15px;
    display: flex;
    background-color: #d66044;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#red {
    padding-top: 80px;
    position: fixed;
    right: 79;
    line-height: 0.6;
    margin: 0;
    z-index: 10;
}

#zxz {
    position: fixed;
    padding-top: 80px;
    left: 78;
    z-index: 10;

}

.hero {
    font-size: 176px;
    font-weight: 700;
    height: 145px;
    line-height: 60px;
    letter-spacing: -4.5px;
    font-family: jost, sans-serif;
    color: rgb(0 0 0);
    position: relative;
    bottom: 66;
    transform: scaleY(1.07)
}

.hero1 {
    font-size: 176px;
    font-weight: 700;
    height: 145px;
    line-height: 60px;
    letter-spacing: -4.5px;
    font-family: jost, sans-serif;
    color: rgb(0 0 0);
    transform: scaleY(1.07)
}

.small {
    font-size: 35px;
    font-weight: 700;
    height: 45px;
    line-height: 38.5px;
    letter-spacing: -1.5px;
    font-family: jost, sans-serif;
    color: rgb(0 0 0);
    padding-top: 12px;
}

#section1 {
    height: 478.997px;
    background-color: #d66044;
    padding: 67px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

#section2 {
    height: 631.997px;
    background-color: rgb(0, 0, 0);

}


#section4 {
    height: 480.997px;
    background-color: rgb(15, 14, 14);
    border: 1px solid antiquewhite;
}



.button {
    font-family: jost, sans-serif;
    background-color: #FF8C69;
    height: 39px;
    font-size: 15px;
    margin: 488px auto;
    border-radius: 11px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
    border: 2px solid #FF8C69;

}




.button:hover {
    background-color: #F1EFE0;
    border-color: black;
    transition: 0.3s;

}

#bottondiv {
    text-align: center;
}

.sec1 {
    font-family: inter, sans-serif;
    padding-left: 60px;
    font-weight: 715;
    font-size: 39px;
    letter-spacing: -2px;
}

.sec2 {
    font-family: inter, sans-serif;
    padding-left: 10px;
    padding-right: 90px;
    font-weight: 720;
    font-size: 39px;
    letter-spacing: -2px;
}

.sec3 {
    font-family: inter, sans-serif;
    padding-left: 1px;
    font-weight: 700;
    font-size: 39px;
    letter-spacing: -2px;
}

.he {
    font-family: inter, sans-serif;
    padding-left: 60px;
    line-height: 2;
    font-size: 12px;
    margin-top: 15px;
}

.he1 {
    font-family: inter, sans-serif;
    padding-left: 6px;
    line-height: 2;
    font-size: 12px;
    margin-top: 15px;
}

.he2 {
    font-family: inter, sans-serif;
    padding-left: 6px;
    line-height: 2;
    font-size: 12px;
    margin-top: 15px;
}

#rgb {
    display: none;
    width: 100%;
    background-color: #BF6656;
    margin: 0 auto;
    height: 750px;

}

#img {
    display: block;
    width: 35%;
    background-color: #b3a3a3;
    height: 710px;

}

#section3 {
    height: 710px;
    background-color: #D0B3B3;
    display: inline-flex;
    flex-direction: row;
    align-items: center;
    width: 65%;
    line-height: 1;
}

#dot {

    height: 17px;
    width: 17px;
    background-color: #B7410E;
    border-radius: 50%;
    margin-left: 60px;
    margin-top: 90px;

}

#dot1 {

    height: 17px;
    width: 17px;
    background-color: #B7410E;
    border-radius: 50%;
    margin-left: 6x;
    margin-top: 90px;

}

#dot2 {

    height: 17px;
    width: 17px;
    background-color: #B7410E;
    border-radius: 50%;
    margin-left: 6px;
    margin-top: 90px;


}

#img1 {
    display: block;
    margin: 0 auto;
    padding-top: 13;
    width: 305;
    height: 310;
    border-radius: 50%;
}

#chat {
    text-align: center;
    font-family: jost, sans-serif;
    font-size: 55px;
    font-weight: 600;
    padding: 20 15;
    letter-spacing: -2px;
    line-height: 1;

}

#chat2 {
    text-align: center;
    font-family: jost, sans-serif;
    padding: 20 15;
    font-size: 20px;
    font-weight: 600;
}

#bokn {
    text-align: center;
    padding-top: 25px;
}

#bok {
    font-family: jost, sans-serif;
    background-color: #D25E43;
    height: 39px;
    font-size: 15px;

    border-radius: 11px;
    font-weight: 700;
    line-height: 1.5;

    cursor: pointer;
    border: 2px solid transparent;
}

#section4 {
    height: 631.997px;
    background-image: url("https://anakaric.com/wp-content/uploads/2021/08/aky1.webp");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    border: 0px solid black;
}

h1 {
    font-family: jost, sans-serif;
    color: #D3C0C8;
    font-size: 54px;
    letter-spacing: -3px;
    font-style: italic;

}

#p1 {
    font-family: jost, sans-serif;
    color: #D3C0C8;
    font-size: ;
    font-weight: ;
}

#butem {
    font-family: jost, sans-serif;
    background-color: #CC521F;
    height: 39px;
    font-size: 15px;

    border-radius: 11px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
    border: 2px solid #CC521F;

}

#butem:hover {
    background-color: #F1EFE0;
    border-color: black;
    transition: 0.3s;

}

#section5 {
    height: 2300px;
    background-color: #c47766;
}

#long1 {
    font-family: jost, sans-serif;
    font-size: 57px;
    font-weight: 700;
    text-align: center;
    line-height: 60px;
    letter-spacing: -1;
    padding: 105px 0;
    height: 180px;
}

h2 {
    font-family: jost, sans-serif;
    font-weight: 700;
    text-align: center;
    padding: 100 0 24.5 0;
    letter-spacing: -1;
}

.fet1 {
    background-color: #C77A63;
    height: 120px;
    width: 180px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.fet1:hover {
    transform: scale(1.1);
    transition: transform 0.3s ease;
}

.mama1 {
    max-width: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
}

.mama2 {
    max-width: 100%;
    gap: 15px;
    display: flex;
    justify-content: center;
    padding: 25px;
}

.inact {
    text-align: center;
    padding: 80 0 24.5 0;
}

.inact1 {
    font-family: jost, sans-serif;
    font-size: 35px;
    font-weight: 700;
    letter-spacing: -1;
}

.inact2 {
    font-family: jost, sans-serif;
}

.inact3 {
    font-family: jost, sans-serif;
    font-weight: 700;
}

#name {
    background-color: ;
    font-family: ;
    width: 530px;
    height: 45px;
    border-radius: 15px;


}

form {
    font-family: jost, sans-serif;
    display: grid;
    justify-content: center;
}

label {
    font-family: jost, sans-serif;
}

#padd {
    padding: 0 0 6 0;
}

.ggs {
    font-family: jost, sans-serif;
    padding-top: 25px;


}
.g-recaptcha{
    padding-top:  20;
}

.ggs1 {
    width: 530px;
    font-size: 15;
    font-weight: 700;
    background-color: #b85b3f;
    letter-spacing: -0.8;
    cursor: pointer;
    border: 3px solid #b85b3f;

}

.ggs1:hover {
    background-color: #c47766;
    border-color: black;
    transition: 0.3s ;

}

input {
    width: 400px;
    padding: 10px 15px;
    border: 3px solid #000;
    /* black border */
    border-radius: 12px;
    outline: none;
    color: #000;
    /* text color inside */
    background-color: #c47766;
    /* white background */
    font-size: 15px;
    font-family: jost, sans-serif;
    font-weight: 420;
}


input::placeholder {
    color: #000;
    /* grey placeholder text */
}

.testimonials {
    padding: 80px 80px;
    height: 290px;
    font-family: jost, sans-serif;
}

.testimonial-card {
    background: transparent;
    color: #000;
    text-align: center;
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.testimonial-text {
    font-size: 15px;
    font-style: italic;
    line-height: 1.6;
    margin: 0 auto 25px;
    max-width: 90%;
}

.testimonial-footer {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.testimonial-footer img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonial-footer h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 700;
}

.testimonial-footer span {
    font-size: 13px;
    opacity: 0.8;
}

/* --- Swiper Controls --- */
.swiper-button-next,
.swiper-button-prev {
    color: #803c24 !important;
    width: 95px !important;
    height: 95px !important;
}

.swiper-button-next::after,
.swiper-button-prev::after {
    font-size: 18px !important;
}

.swiper-pagination {
    bottom: px !important;
    padding: 220 0;

}

.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    background: #803c24 !important;
    opacity: 0.5 !important;

}

.swiper-pagination-bullet-active {
    background: #8c5e58 !important;
    opacity: 1 !important;
}

/* Move arrows up or down */
.swiper-button-next,
.swiper-button-prev {
    color: #803c24 !important;
    width: 15px !important;
    height: 15px !important;
    height: 15px !important;
    top: 36% !important;
    /* move up or down: lower = goes down, higher = goes up */
}

/* Optional: adjust left/right spacing too */
.swiper-button-prev {
    left: 20px !important;
}

.swiper-button-next {
    right: 20px !important;
}

.client-carousel img {
    width: 100%;
    height: auto;
    display: block;
    margin: auto;
    transition: transform 0.5s ease, opacity 0.5s ease;
    background-color: #C16A54;
}

/* smaller by default */
.client-carousel .slick-slide img {
    transform: scale(0.85);
    opacity: 0.6;
}

/* center logo grows */
.client-carousel .slick-center img {
    transform: scale(1.1);
    opacity: 1;
}

/* dots color (optional) */
.slick-dots li button:before {
    color: rgba(255, 255, 255, 0.7);
}

.slick-dots li.slick-active button:before {
    color: #fff;
}

.client-carousel {
    height: 200px;
}


@media (max-width: 768px) {
    .testimonial-card {
        height: auto;
    }
}

/* Fix dot position */
.swiper-pagination {
    position: absolute !important;
    top: 12% !important;
    /* closer to the text/cards */
    left: 0;
    width: 100%;
    text-align: center;
}


#long2 {
    text-align: center;
    font-family: jost, sans-serif;
    font-size: 25px;
    font-weight: 700;
    text-align: center;

    letter-spacing: -1.2;

}


#red1 {
    display: none;
}

.swiper-button-next,
.swiper-button-prev {
    z-index: 20 !important;
    /* bring arrows above all */
    cursor: pointer;
}

#section6 {
    height: 540px;
    background-color: #000;
}
.inlap{
    display: flex;
    justify-content: center;
    position: relative;
    top: 15.2%;    
}
.inlapchld{   
    border-radius: 25px;    
}
#adv{
    color: #D8C7C7;
    text-align: center;
    font-family: jost, sans-serif;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: -1px;
    padding: 100 0 0 0;
}
#blogp{
    display: flex;
    justify-content: center;
    padding: 40 0 0 0;
}
#lst{
    position: relative;
    top: 60%;
    float: inline-end;   
    padding-left: 30px; 
}

#blog{    
    font-family: jost, sans-serif;
    background-color:  #A64E32;
    height: 45px;
    font-size: 15px;
    border-radius: 11px;
    font-weight: 700;
    line-height: 1.5;
    max-width: 70%;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 9px;
    padding-right: 9px;
    cursor: pointer;
    border: 2px solid  #A64E32;
}
#blog:hover {
    background-color: #F1EFE0;
    border-color: black;
    transition: 0.3s;
}

#section7 {
    height: 443px;
    background-color: #D0B3B3;
}


@media (max-width: 682px) {
    #img {
        display: none;
    }

    #section3 {
        display: block;
        height: 757px;
        align-items: center;
        width: 100%;
        line-height: 1;
    }

    .sec1,
    .sec2,
    .sec3 {
        padding: 0;
        margin: 0;
        text-align: center;
    }

    .sec1 {
        padding-top: 37px;
    }

    .he {
        text-align: center;
    }

    .he1 {
        text-align: center;
    }

    .he2 {
        text-align: center;
    }

    #rgb {
        display: block;
        height: 659px;
    }

    #img1a {
        display: block;
        margin: 0 auto;
        position: relative;
        top: 81px;
        width: 185;
        height: 189;
        border-radius: 50%;
    }

    #chat {
        text-align: center;
        font-family: jost, sans-serif;
        font-size: 45px;
        color: black;
        font-weight: 600;
        padding: 20 15;
        letter-spacing: -2px;
        line-height: 1;

    }

    #chat2 {
        text-align: center;
        font-family: jost, sans-serif;
        padding: 20 15;
        font-size: 20px;
        font-weight: 600;
        line-height: 1.2;
    }

    #leg {
        position: relative;
        top: 89px;
        /* Moves the image 50px down from its original top edge */
    }

    #butem {
        height: 49px;
        font-size: 15px;
        line-height: 1.2;
        padding-left: 20px;
        padding-right: 20px;
    }

    #p1 {
        font-family: jost, sans-serif;
        color: #D3C0C8;
        font-size: ;
        font-weight: ;
    }

    h1 {
        font-size: 46px;
        letter-spacing: -3px;
        line-height: 1;
    }

    #section4 {
        height: 932px;
    }

    #nav {
        font-size: 45px;
        font-weight: 770;
        height: 69px;
        line-height: 40px;
        letter-spacing: -3px;
        margin-top: 15px;
    }

    #red1 {
        display: block;
        padding-top: 20px;
        position: fixed;
        right: 25;
        line-height: 0.6;
        margin: 0;
        z-index: 10;
    }

    #red {
        display: none;
    }

    #zxz {
        position: fixed;
        padding-top: 20px;
        left: 27;
        z-index: 10;

    }

    .hero {
        display: none;
    }

    .hero1 {
        display: none;
    }
}